body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 0 0 15px;
}
  
.company-name {
    color: #38352F;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 20px 0 -910px;
}
  
.nav-items {
    display: flex;
    list-style: none;
    margin: 10px 10px 0 0;
    padding: 0;
}
  
.nav-items li {
    margin-left: 20px;
    padding: 5px 10px;
}
  
.nav-items li:first-child {
    margin-left: 0;
}
  
.nav-items a {
    color: #38352F;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-items li:hover{
    transform: scale(1.1);
    text-shadow: none;
    transition: all 0.1s ease;
    /* background-color: #38352F; */
    background-color: #CAC9C2;
    border-radius: 20px;
}

#imagePreview {
  max-width: 560px;
  max-height: 560px;
  margin-left: 20px;
}

.recipeForm {
    color: #38352F;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px 20px;
    background-color: #C2C8C3;
}
h2{
    color: #38352F;
    text-align: center;
}
  .recipeForm {
    color: #38352F;
    margin-bottom: 20px;
  }

  .recipeForm label {
    color: #38352F;
    display: block;
    margin-bottom: 5px;
    margin-left: 20px;
  }

  .recipeForm input[type="text"],
  .recipeForm textarea {
    color: #38352F;
    width: 90%;
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  #image{
    color: #38352F;
    background-color: #ffffff;
    width: 90%;
    margin-left: 20px;
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .submitButton {
    background-color: #C2C8C3;
    color: #38352F;
    padding: 8px 80px;
    margin: 20px 0 20px 190px;    
    border: solid 2px #38352F;
    border-radius: 5px;
    cursor: pointer;
  }
  .button-group {
    display: flex;
    margin-left: 180px;
  }
  .button-group button{
    background-color: #C2C8C3;
    color: #38352F;
    padding: 8px 20px;
    margin: 20px 0 20px 27px;    
    border: solid 2px #38352F;
    border-radius: 5px;
    cursor: pointer;
  }
  .image-preview {
    margin-top: 10px;
    display: none;
  }

  .image-preview img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .recipeForm input[type="text"]::placeholder {
    font-size: 0.9rem;
    color: #38352f6d;
  }
  .recipeForm textarea::placeholder {
    font-size: 0.9rem;
    color: #38352f6d;
  }
  .footer{
    margin: 20px 0 20px 0;
    text-align: center;
    color: #38352F;
    font-size: 1rem;
} 

